<div id="main">
    <h1>Upscale your images using the power of AI. Better
        <div id="text1" class="txt-rotate">Quality.</div>
        <div id="text2" class="txt-rotate">Resolution.</div>
        <div id="text3" class="txt-rotate">Contrast.</div>
    </h1>
    <div id="imageDrop"></div>
    <div *ngIf="url" id="imagePreview" style="margin-left: 10px; margin-right: auto;">
        <img [src]="url" alt=" ">
    </div>
    
    <div id="scaleImagePreview" style="margin-left: 40%; margin-top: -18.5%;">
        <mat-progress-bar mode="indeterminate" *ngIf="progressBar"  style="margin-top: 20%;"></mat-progress-bar>
        <img [src]="scaledImage" alt=" " *ngIf="scaledImage">
    </div>
    
    <div id="buttonDiv" style="margin-left: -44%; display: grid;">
        <button id="fileButton" type="button" mat-raised-button (click)="fileInput.click()" style="margin-left: -34px; margin-top: 15px; width: 250px;">Upload Image</button>
        <button *ngIf="upscaleButton" id="fileButton" type="button" mat-raised-button (click)="upscaleImage()" style="margin-left:-34px; margin-top: 5px; width: 250px;">Upscale</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="fileInput"
            accept="image/x-png,image/gif,image/jpeg">
    </div>

    <div id="info">
        <div>
            AI Upscaling
        </div>
        <div>
            Enhanced Image
        </div>
        <div>
            Toning and Colour Enhancement
        </div>
        <div>
            Noise Reduction
        </div>
    </div>
</div>